
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, a {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Muli', "Helvetica", Arial, sans-serif;
}

.newnav > li.active button
{
	
	border: 0.1px solid red;
	background-color: #FEE890;
}

.panel-default>.panel-heading
{
	background-color: #FEF8E4;
	border-color: #FEEEBD;
}

.body, .panel-default>.panel-body
{
	background-color: #FEEEBD;
}

.panel-default{

	border-color: #FEEEBD;
}


.bttn{
	font-size: 12px;
	background-color: #FEEEBD;
}
.bttn:hover ,
.bttn:focus,
.bttn:active{
	border: 0.1px solid red;
	background-color: #FEE890;
}
.bold{
	font-weight: bold;
}

.alert-box{
	border-radius: 10px;
	color:black;
	background-color:#FEEEBD;
	border-color:#edb11a;
}
a{
	text-decoration: none;
}
.btttn{
	font-size: 12px;
	background-color: #FEE890;
	border: 0.1px solid red;
	transition: all .2s ease-in-out;
	text-decoration: none;
}

.btttn:hover ,
.btttn:focus,
.btttn:active{
	text-decoration: none;
	border: 0.1px solid red;
	background-color: #FEE890;
	transform: scale(1.1);
}

.ui-tooltip, .arrow:after {
	background: yellow;
	border: 2px solid white;
}
.ui-tooltip {
	padding: 10px 20px;
	color: black;
	border-radius: 20px;
	font: bold 14px "Helvetica Neue", Sans-Serif;
	text-transform: uppercase;
	box-shadow: 0 0 7px grey;
}